@import 'https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css';
@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: 'Pretendard', sans-serif;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --color-sdp-main-primary: #ccfb55;
  --color-sdp-main-secondary: #efffc7;

  --color-sdp-grey-50: #fafafa;
  --color-sdp-grey-100: #f5f5f5;
  --color-sdp-grey-200: #e5e5e5;
  --color-sdp-grey-300: #d4d4d4;
  --color-sdp-grey-400: #a1a1a1;
  --color-sdp-grey-500: #737373;
  --color-sdp-grey-600: #525252;
  --color-sdp-grey-700: #404040;
  --color-sdp-grey-800: #262626;
  --color-sdp-grey-900: #141414;

  --width-site: 1920px;
  --width-content: 1280px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer components {
  .display {
    font-size: 72px;
    line-height: 80px;
    font-weight: 700;
  }
  .h1 {
    font-size: 48px;
    line-height: 60px;
    font-weight: 700;
  }
  .h2 {
    font-size: 32px;
    line-height: 42px;
    font-weight: 700;
  }
  .h3 {
    font-size: 26px;
    line-height: 48px;
    font-weight: 700;
  }
  .h4 {
    font-size: 22px;
    line-height: 30px;
    font-weight: 600;
  }
  .h4-m {
    font-size: 22px;
    line-height: 30px;
    font-weight: 500;
  }
  .body1 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
  }
  .body2 {
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
  }
  .caption {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }

  /* 그라데이션 텍스트 */
  .gradient-text-korean {
    background: linear-gradient(90deg, var(--color-sdp-main-primary) 0%, var(--color-sdp-grey-900) 50.96%, var(--color-sdp-main-primary) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
  }

  .gradient-text-english {
    background: linear-gradient(91deg, #D4FE6B 14.22%, #C4C4C4 109.75%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  font-weight: var(--font-weight-regular);
  min-width: 1280px;
  max-width: 1920px;
  margin: 0 auto;
  overflow-x: hidden;
}
